/* ================= ADVERT ================= */
.advert-img {
  height: 70vh;
  width: 100%;
  object-fit: cover;
}

#carousel_show{
  .item{
    img{
      height: 70vh !important;
    }
  }
}

#carousel_results{
  .item{
    img{
      height: 300px !important;
    }
  }
}
#resultDispo{
  margin-top: 30px;
}