/* ================= MENTIONS LÉGALES ================= */

.legal-div {
  width: 70%;
  margin-top: 10em;
  margin-bottom: 10em;

  h4 {
    margin-top: 2em;
  }

  .legal-italic {
    font-style: italic;
  }

  .legal-strong {
    font-weight: bold;
  }
}