/* Variables */
$orange: #FB6900;
$blue: #16174f;

body {
  font-family: 'Lato', sans-serif;

  /* ================= Navigation ================= */

  nav {
    height: 5em;
    line-height: 5em;
    white-space: nowrap;

    a:hover {
      color: $orange !important;
    }

    #menu {
      padding: 20px;
      transition: all 0.8s;
    }

    #menu a.navbar-brand {
      text-transform: uppercase;
      font-size: 22px;
      color: #fff;
      font-weight: 900;
    }

    #menu a.navbar-brand {
      color: rgba(255, 255, 255, 0.7);
      margin-right: 3px;
    }

    #menu.navbar-default .navbar-nav > li > a {
      text-transform: uppercase;
      color: #eeeeee;
      font-size: 12px;
      letter-spacing: 1px;
    }

    .on {
      background-color: #222222 !important;
      padding: 0 !important;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: #0dad8d !important;
      background-color: transparent;
    }

    .navbar-toggle {
      border-radius: 0;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #0dad8d;
      border-color: #0dad8d;
    }

    .navbar-default .navbar-toggle:hover > .icon-bar {
      background-color: #FFF;
    }

  }

  /* ================= Header and search bar ================= */

  /* Jumbotron */

  .jumbotron {
    background-image: url("../assets/pictures/tennis.jpg");
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1, h2 {
      color: white;
    }

    .btn-primary{
      background-color: $blue;
      border-color: #16174f;
    }

    .btn-primary:hover{
      background-color: $orange;
      border-color: orange;
    }
  }

  /* ================= FAQ ================= */

  /* Styles for page */

  .container-faq {
    width: 70%;
    margin: 7em auto;
  }

  $lightgrey: #dddddd;
  $textcolor: #4B4B4B;

  .faq-parent {

    .faq-answer {
      text-align: left;
      letter-spacing: 0px;
      font-weight: 200;
      line-height: 1.5;
      font-size: 14px;
    }

    /* Styles for Accordion */

    .toggle {
      &:last-child {
        border-bottom: 1px solid $lightgrey;
      }
      .toggle-title {
        position: relative;
        display: block;
        border-top: 1px solid $lightgrey;
        margin-bottom: 6px;

        .faq-question {
          font-size: 20px;
          margin: 0px;
          line-height: 1;
          cursor: pointer;
          font-weight: 200;

        }
        &.active .faq-question {
        }
      }

      .toggle-inner {
        padding: 7px 25px 10px 25px;
        display: none;
        margin: -7px 0 6px;

        .faq-div {
          max-width: 100%;
        }
      }

      .toggle-title {
        .title-name {
          display: block;
          padding: 25px 25px 14px;
        }

        a i {
          font-size: 22px;
          margin-right: 5px;
        }

        i {
          position: absolute;
          background: url('http://arielbeninca.com/Storage/plus_minus.png') 0px -24px no-repeat;
          width: 24px;
          height: 24px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
          margin: 20px;
          right: 0;
        }

        &.active i {
          background: url('http://arielbeninca.com/Storage/plus_minus.png') 0px 0px no-repeat;
        }

      }
    }
  }
}



