{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}

<div class="container">
    <div class="col-md-12">
        <h1>Nouvelle annonce</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="text-center">
            <input class="btn btn-primary btn-lg" type="submit" value="Créer" />
        </div>
    {{ form_end(form) }}

    </div>
</div>
{% endblock %}
