{% extends 'base.html.twig' %}


{% block content %}

    {# Jumbotron #}
    <section>

        <div class="jumbotron">
            <div class="container">
                <h1>Restez sportifs pendant vos vacances !</h1>
                <h2>Avec Hobbea, louez une piscine ou un court de tennis chez des particuliers.</h2>

                {# Search box #}
                {{ form_start(form) }}

                <div class="row">
                    <div class="form-group col-md-10 col-xs-12">
                        {{ form_widget(form.address) }}
                    </div>
                    <div class="form-group col-md-2 col-xs-12">
                        <button type="submit" class="btn btn-primary btn-lg" style="width: 100%">Go!</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            {# End of search box#}
        </div>

    </section>
    {# End of jumbotron #}

    {# Highlights #}
    <section>
        <div class="container">
            <h2 class="">Nos coups de cœur</h2>
            <div class="row">
                <a href="{# showOneKindOfRoute #}">
                    <div class="col col-md-offset-2 col-md-3 col-sm-6 col-xs-12">
                        <img src="{# advert.url #}">
                        <p>{# advert.title #}</p>
                        <p>{# advert.address #}</p>
                    </div>
                </a>
                <a href="{# showOneKindOfRoute #}">
                    <div class="col col-md-offset-2 col-md-3 col-sm-6 col-xs-12">
                        <img src="{# advert.url #}">
                        <p>{# advert.title #}</p>
                        <p>{# advert.address #}</p>
                    </div>
                </a>
            </div>
        </div>
        {# End of highlights #}

        {# Owner benefits #}
        <div class="container">
            <h2 class="homepage--subtitle">Propriétaires, gagnez jusqu'à 1.000.000 euros par an</h2>

                <p>Donnez une seconde vie à vos infrastructures sportives et louez-les à des voyageurs.</p>
                <button type="button" class="btn-default">+ d'informations</button>

        </div>
        {# End of owner benefits #}

    </section>
{% endblock %}
