<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hobbea</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<p><strong>Vous avez reçu un message de {{ form.name }}</strong></p>
<p><strong>Lui répondre :</strong>  {{ form.email }}</p>
<p><strong>Son message :</strong></p>
<p>{{ form.message }}</p>

</body>